@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 50, 50, 50;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  margin: 0;
}

html {
  background-color: rgb(var(--background-end-rgb));
}

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
}
